.input {
  border: 0;
  outline: 0;
  padding: 10px;
  font-family: montserrat;
  color: #525159;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 1px 5px 10px 0px #cecece;
  width: 200px;
  margin-left: 10px;
  margin-right: 30px;
}

.kreiraj {
  display: flex;
  text-align: center;
}

form {
  display: inline-block;
}

.submit {
  border: 0;
  outline: 0;
  padding: 10px;
  font-family: montserrat;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #e69bc5;
  border-radius: 50px;
  width: 200px;
  margin-left: 10px;
  margin-right: 30px;
}

.submit:hover {
  cursor: pointer;
  background-color: #f6d7dc;
}

.input:hover {
  cursor: pointer;
}

.dodajukorpu {
  text-align: center;
}
