.container {
  clear: both;
  overflow: auto;
  width: 60%;
  margin: auto;
  width: 60%;
  display: flex;
  align-items: center;
}
.plava:onclick {
  color: aqua;
}

body {
  font-family: raleway;
  background-image: url(./slike/pozadina.png);
  color: #515058;
}

h1 {
  font-family: "Style Script", cursive;
  font-size: 5rem;
}

.menu {
  background-color: azure;
  box-shadow: 1px 5px 10px 0px #cecece;
  margin-top: 0;
}

.container {
  clear: both;
  overflow: auto;
  width: 60%;
  margin: auto;
  width: 60%;
  display: flex;
  align-items: center;
}

nav {
  float: right;
}

.logo {
  float: left;
  text-align: center;
}

ul li {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}

ul li:hover {
  color: #e69bc5;
  cursor: pointer;
  transition: 0.3s;
}

.slika img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.slika {
  width: 80%;
}

.button {
  background-color: #e69bc5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}

.naslov h1 {
  margin-bottom: 5px;
}

.pz-kreacija {
  width: 300px;
}

.kreacija {
  background-color: white;
  height: 500px;
  clear: both;
  overflow: auto;
  margin: auto;
  width: 70%;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  margin-top: 30px;
  margin-bottom: 50px;
  position: relative;
}

.submit {
  border: 0;
  outline: 0;
  padding: 10px;
  font-family: montserrat;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #e69bc5;
  border-radius: 50px;
  width: 200px;
  margin-left: 10px;
  margin-right: 30px;
}

.cestitkanapravljena {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tekst {
  position: absolute;
  top: 46%;
  left: 47.5%;
  padding: 5px;
  z-index: 2;
  font-size: 18px;
  max-width: 150px;
  text-align: center;
  transform: rotate(4deg);
  font-family: "Style Script", cursive;
}
